<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
    <body>
        <%- include('./partials/header.ejs') %>
        
        <div class="main-container">
            <div class="banner">
                <img src="/img/banner1.jpeg" alt="banner">
            </div>
            <div class="home-container">
                <div class="categoria1">
                    <a href=""><img src=""></a>
                </div>
                <div class="categoria2">
                    <a href=""><img src=""></a>
                </div>
            </div>
        </div>
        
        <%- include('./partials/footer.ejs') %>
    </body>
</html>