<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs',{ pageTitle: 'Home'} ) %> 
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <div class="main-container">
                <div class="banner">
                    <img src="/img/banner1.jpeg" alt="banner">
                </div>
                <div class="home-container">
                    <img src="/img/Consolas.png" alt="Consolas">
                    <img src="/img/juegos.png" alt="Juegos">
                </div>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>