<header>
    <div class="container">
        <img src="">
        <nav class="main-nav">
            <ul>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Registro</a></li>
                <li><a href="/products/cart">Carro</a></li>
            </ul>
        </nav>
    </div>
    <div class="container-two">
            <nav class="secondary-nav">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/products">Productos</a></li>
                </ul>
            </nav>
    </div>
</header>